@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

.readme {
    text-align: left;
}

.files {
    display: grid;
    justify-content: center;
}

a {
    color: palevioletred;
    text-decoration: none;
    font-family: 'Fira Code';
}

a:hover {
    color: rgb(255, 173, 201);
}
