<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Page-->
    <title>S4viFiles - Sendokame</title>

    <!--Import-->
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <a href="/readme.md" class="readme">README.md</a>
    <div class="files">
        {%for i in range(0, fileLenght)%}
            <a href="/view/{{ file[i] }}">{{ file[i] }}</a><br>
        {%endfor%}
    </div>
</body>
</html>
