<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Page-->
    <title>S4viFiles - README.md</title>

    <!--Import-->
    <link rel="stylesheet" href="../static/special.css">
</head>
<body>
    <div class="specialDiv">
        <p>Hola!, Soy Sendokame</p>
        <p>S4viFiles es mi web, un lugar donde guardar archivos de S4vitar</p>
        <p>Fotos y videos</p>
        <p>Quiero dejar claro que no tengo relacion alguna con S4vitar y una gran parte de los archivos no son mios</p>
        <p>Por eso quiero agradecer a Rabies que me dio la idea de hacer S4viFiles</p>
        <p>Y finalmente me dio los permisos para usar los archivos que puso en <a href="https://github.com/kaniehuest/s4virandom">su repositorio</a></p>
    </div>
</body>
</html>
